<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Timestamps</title>
</head>
<body>
    <h1>Employee Timestamps</h1>
    <table>
        {%for timestamp in work_days%}
        <tr>
            <td>{{timestamp[0]}}</td>
            <td>{{timestamp[1]}}</td>
            <td>{{timestamp[2]}}</td>
            <td>{{timestamp[3]}}</td>
            <td>{{timestamp[4]}}</td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>